@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* #ff5851 red
#1c1b20 dark
#f8f8f8 white */

:root {
  --card-color: #ffffffbd;
  --main-background: #f3f3f3;
  --text-color: #151515;

  /* --dark-card-color: #000000ba;
  --dark-main-background: #151515; 
  --dark-text-color: #F8F8F8; */

  /* --main-background: #151515; */


  /* --card-color: #000000cb;
  --text-color: #f8f8f8f1; */

}

html, body {
  font-family: 'Inter', sans-serif !important;
}

::-webkit-file-upload-button {
  cursor: pointer;
  border: 2px solid #ff5851;
  color: #ff5851;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
}

::-webkit-file-upload-button:hover {
  background-color: #ff5851;
  color: white;
}


::-webkit-scrollbar {
  display: none;
}

.infoInput:focus {
  outline: 2px solid #ff5851;
  background-color: var(--card-color);
}

.button:disabled {
  background-color: white;
  color: #ff5851;
  font-weight: 500;
  border: none;
  outline: none;
  pointer-events: none;
}


@layer components {
  .button {
    @apply bg-[#ff5851] text-white rounded-md hover:text-[#ff5851] hover:outline hover:outline-offset-[-2px] hover:outline-2 hover:border-[#ff5851] hover:bg-transparent
  }

  .info {
    @apply flex items-center gap-2
  }

  .infoInput {
    @apply p-4 rounded-md bg-gray-100 focus:border-[#ff5851] focus:outline-none
  }
}